{% extends 'basePublic.html.twig' %}

{% block title %}Artistic approach - Arts Musants{% endblock %}

{% block body %}
<section id="artisticApproach">
    <h1>Artistic approach</h1>
    <p>
        After exploring <strong>Impressionism</strong>, then <strong>Expressionism</strong>, I discovered through <strong>Eugene Leroy</strong>'s work, the burying of
        shape under successive layers. This lead me to abstraction with structured density. Nevertheless Zao-Wou-Ki's
        Lyric Abstraction inspired me watercolour effects I mixed with my thick matters.</p>
    <p>
        I chose not to give up anything : neither matters weight, nor watercolour lightness, neither colour, nor its
        lack ; not even line or collage.</p>
    <p>
        I followed <strong>Klein</strong> and <strong>Soulages</strong> in their monochromes, <strong>Malevitch</strong> and <strong>Ryman</strong> on their white ways.</p>
    <p>
        I like to work series and I wander from one to another according to my inspirations</p>
    <p>
        I try, through my painting to give a certain sense of humour, but a taste of the sacred too. I waver between
        different worlds and lanes; but I'll explore them till the end.</p>
</section>
{% endblock %}