{% extends 'basePublic.html.twig' %}

{% block title %}Artistic approach - Arts Musants{% endblock %}

{% block body %}
<section id="cgv">
    <h1>cgv</h1>
    <p> Le recueil de toutes éventuelle information au sujet de nos visiteurs dans le cadre de l’exploitation de ce site
        a fait l’objet d’une décalaration auprès de la CNIL, enregistrée sous le numéro 1632304. Nous promettons de
        traiter les données que nous collectons avec toutes les précautions qu’elles requièrent, et de ne jamais les
        revendre à des spambots.

        Les textes et contenus mis à disposition sur ce site sont soumis à la loi Française sur le droit d’auteur. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos commodi, modi rem ab nulla qui nesciunt omnis, dolor
        eligendi placeat repellat assumenda ad optio laudantium nobis alias! Reprehenderit, non quo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tenetur obcaecati praesentium qui
        assumenda aliquid porro veniam culpa laboriosam magnam sit, laborum nihil possimus ab suscipit provident
        corporis iusto? Voluptas?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, est maxime inventore adipisci veniam quam cum
        minus autem alias ea error ad laborum, voluptas magni asperiores repellat a itaque numquam!</p>

</section>
{% endblock %}