/*GLOBAL*/

* {
    font-family: 'Sofia', cursive;
    color: white;
}

body,
nav {
    background-image: url('../images/overlay-328225_640.jpg');
    background-size: cover;
}

.jumbotron {
    background-image: url('../images/a_mochagrunge.png');
}

/*FORMS*/

form input {
    color: black;
}

textarea {
    color: black;
}

/*TABLES*/

table {
    max-width: 100%;
}
td {
    max-width: 30%;
}