{% extends 'basePublic.html.twig' %}

{% block title %}White Spirit - Arts Musants{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>White Spirit</h1>
</div>

<div class="container">
    <div class="row">

        {% for painting in paintingsWhiteSpirit %}

        <div class="col-12 col-sm-4 mt-4">
            <a href="{{ asset('uploads/pictures/' ~ painting.picture) }}">
                <img src="{{ asset('uploads/pictures/' ~ painting.picture) }}" alt="{{ painting.title }}">
            </a>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}