{% extends 'basePublic.html.twig' %}

{% block title %}Couleur &amp; Matières - Arts Musants{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Couleur &amp; Matières</h1>
</div>

<div class="container">
    <div class="row">

        {% for painting in paintingsCouleursEtMatieres %}

        <div class="col-12 col-sm-4 mt-4">
            <a href="{{ asset('uploads/pictures/' ~ painting.picture) }}">
                <img src="{{ asset('uploads/pictures/' ~ painting.picture) }}" alt="{{ painting.title }}">
            </a>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}