/*GLOBAL*/

* {
    font-family: 'Sofia', cursive;
    color: white;
}

/*
body,
nav {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
*/

.jumbotron {
    background-image: url('../images/bg_jumbotron.png');
    padding: 3%;
    text-shadow: 2px 2px black;
}

/*FORMS*/

form input {
    color: black;
}

textarea {
    color: black;
}

/*TABLES*/

table {
    max-width: 100%;
}
td {
    max-width: 30%;
}


