/*GLOBAL*/

* {
    font-family: 'Sofia', cursive;
    color: white;
}

nav {
    background-image: url('../images/bg-nav.png');
    background-size: cover;
    /*text-shadow: 2px 2px rgb(77, 75, 75);*/
    z-index: 1;
}

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

main * {
    margin: 5px auto;
}

footer {
    bottom: 0;
}

footer * {
    color: grey;
    font-size: 75%;
}

h1,
h2 {
    white-space: nowrap;
    text-align: center;
    position: relative;
}

h1,
h2,
h3,
h4,
p,
a {
    position: relative;
}

a {
    outline-style: none;
}

.hidden {
    display: none;
}


/*LANGUAGE PICKER*/


.languagepicker {
	background-color: transparent;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	line-height: 40px;
}

.languagepicker a:first-child li {
	border: none;
	background: transparent !important;
}


/*BOOTSTRAP CLASS*/

.jumbotron {
    padding: 2rem 1rem;
    background-color: transparent;
}


/*ARTISTICAPPROACH & CGV*/

#artisticApproach {
    width: 75%;
    text-align: center;
    margin: 10px 12.5%;
    padding: 10px 10px;
}

#cgv {
    width: 75%;
    text-align: center;
    margin: 10px 12.5%;
    padding: 10px 10px;
}

/*PICTURES & ANIMATIONS*/

#BlancDeBlancCarousel:hover>a,
#CouleursEtMatieresCarousel:hover>a,
#WhiteSpiritCarousel:hover>a {
    text-decoration: none;
}

a img {
    transition: transform 3s;
    /* Animation */
}

a img:hover {
    transform: scale(1.1);
    /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* "instagram style"
.paintingimage a {
    color: white;
    text-decoration: none;
}

.paintingimage a p {
    position: relative;
    z-index: 1;
    transform: translateY(-100%);
    display: none;
}

#painting_show {
    display: block;
    margin: 10px auto;
}

.paintingimage:hover .showonhover {
    display: block;
}

.showonhover {
    display: none;
    background-color: rgba(0, 0, 0, 0.377);
    transform: translateY(-100%);
    text-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 0px 0px 5px 5px #656565;
    -webkit-box-shadow: 0px 0px 5px 5px #656565;
    -o-box-shadow: 0px 0px 5px 5px #656565;
    box-shadow: 0px 0px 5px 5px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
*/

/*FORMS*/

form input {
    color: black;
    font-family: arial;
    width: 60%;
    margin-right: 2%
}

form label {
    width: 30%;
    text-align: center;
}

textarea {
    color: black;
    width: 60%;
    margin-right: 2%
}

.btn {
    color: white;
    border: solid white 2px;
    background-color: gray;
}

form button {
    margin: 0 50%;
}

#stripe {
    margin: 0 10%;
}

#stripe button {
    margin: 0;
}

#paintings_category {
    width: 60%;
    color: black;
}

#login_form {
    position: relative;
    text-align: center;
}

#login_form input {
    width: 50%;
    margin: 0 auto;
}

#login_form .btn {
    margin: 0 auto;
}

.alert-danger {
    text-align: center;
    width: 50%;
}


/*TABLES*/

table {
    max-width: 100%;
}

td {
    max-width: 30%;
}


/*RESPONSIVE*/

@media screen and (max-width: 576px) {
    .paintingimage {
        margin: 5px 12.5%;
    }
}