/*GLOBAL*/

* {
    font-family: 'Sofia', cursive;
    color: white;
}

nav {
    background-image: url('../images/bg-nav.png');
    background-size: cover;
    text-shadow: 2px 2px rgb(77, 75, 75);
    z-index: 1;
}

main * {
    margin: 5px auto;
}

h1,
h2 {
    white-space: nowrap;
    text-align: center;
    position: relative;
}

/*FORMS*/

form input {
    color: black;
    width: 60%;
    margin-right: 2%
}

form label {
    width: 30%;
    text-align: center;
}

textarea {
    color: black;
    width: 60%;
    margin-right: 2%
}

.btn {
    color: white;
    border: solid white 2px;
    background-color: gray;
}

form button{
    margin: 0 50%;
}

/*TABLES*/

table {
    max-width: 100%;
}

td {
    max-width: 30%;
}