
<footer class="container">
    <div class="row grid">
        <p class="col-12 text-center">
            <a href="https://github.com/GauthierGitHub/"  target="_blank">@Author</a>
            <a href="{{ path('cgv') }}">CGV</a>
        </p>
    </div>
</footer>

