{% extends 'basePublic.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h3>{% trans %}Sorry this picture is already saled !{% endtrans %}</h3>
    <a href="{{ path('home') }}">{% trans %}Back{% endtrans %}</a>

</div>
{% endblock %}