{% extends 'basePublic.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h3>Sorry this picture is already saled !</h3>
    <a href="{{ path('home') }}">Back to home</a>

</div>
{% endblock %}